.main {margin: 2rem auto; width: 30rem;}
label {display: inline-block; min-width: 4rem;}
input {margin-bottom: 0.5rem;}

table {
    width: 100%;
}

th, td {
    border:1px solid black;
    text-align: left;
    padding: 8px;
}

tr:first-child{background-color: lightgrey}


.deleted {
    text-decoration: line-through;
}
